@import 'tailwindcss';
@font-face {
  font-family: 'clash-display';
  src: url('/fonts/ClashDisplay.ttf') format('truetype');
}

@theme inline {
  --bg-color: var(--color-slate-200);

  --font-clash-display: 'clash-display', sans-serif;
}

body {
  background-color: var(--bg-color);
}

@layer components {
  section {
    @apply py-16;
  }
}
