---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header/Header.astro';
import Hero from '../components/hero/Hero.astro';
import About from '../components/about/About.astro';
import Project from '../components/projects/Project.astro';
---

<Layout>
  <div class="flex min-h-screen w-full flex-col">
    <Header />
    <Hero />
  </div>
  <About />
  <Project />
</Layout>
